:root {
  font-family: sans-serif, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
  background-color: #1b1c2a;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #0f0f0f;
}

a {
  text-decoration: none;
  color: inherit;
}
